/* Color
color: #BBE1FB;
color: #AADCE4;
color: #CBFBF6;
color: #AAE4CD;
color: #BBFBCF;
color: #89b1b8;
color: #4f6569;
*/


/*Responsive
@media screen and (max-width: 992px)
@media (max-width: 540px) {
  .container {
    max-width: 540px;
  }
}
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

a {
  color: #e4e4e4;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 20px;
}

body {
  background-color: #CBFBF630;
}

h1 {
  color: #89b1b8;
  font-family: "Petit Formal Script";
  padding-top: 20px;
}

h2 {
  color: #89b1b8;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  padding-top: 60px;
  padding-bottom: 10px;
}

h3 {
  color: #89b1b8;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h4 {
  color: #89b1b8;
}

hr {
  border: dotted #89b1b8;
  border-bottom: none;
  border-width: 7px;
  margin: auto;
  width: 7%;
} 

p {
  font-size: .75rem;
  line-height: 1.3rem;
}

.header {
  background-color: #AADCE440;
  color: rgb(137, 177, 184);
  height: 115px;
}

.profile {
  margin-bottom: -20px;
}

.img-profile {
  -webkit-clip-path: circle();
  clip-path: circle();
  margin: -20px 0;
  width: 50%;
}

.intro {
  color: #89b1b8;
  margin: auto;
  padding-bottom: 60px;
  width: 75%;
}

.about {
  margin: auto;
  margin-top: -15px;
  margin-bottom: 40px;
}

.about-row {
  background-color: #89b1b830;
  box-shadow: 2px 2px 12px #c7c7c7;
  color: #38646b;
  border-radius: 5px;
  margin: 15px;
  padding: 20px;
}

.about-description {
  text-align: left;
}

.portfolio {
  margin: auto;
  margin-top: -15px;
  margin-bottom: 40px;
}

.box {
  background-color: #89b1b830;
  box-shadow: 2px 2px 12px #c7c7c7;
  color: #38646b;
  border-radius: 5px;
  line-height: 1.3rem;
  margin: auto;
  padding: 10px;
  width: 90%;
}

.box-image {
  width: 90%;
}

.skills {
  margin: auto;
  margin-top: -15px;
  margin-bottom: 40px;
}

.skills-row {
  background-color: #89b1b830;
  box-shadow: 2px 2px 12px #c7c7c7;
  color: #38646b;
  border-radius: 5px;
  line-height: 1.3rem;
  margin: 15px;
  padding: 10px;
  width: 90%;
}

.skills-image {
  height: 60px;
  margin: 5px 10px;
}

.skills-description {
  color: #38646b;
}

.contact-message{
  color: #89b1b8;
  margin: 10px auto 60px;
}

.btn {
  background: #89b1b8;
  box-shadow: 2px 2px 12px #c7c7c7;
  color: #e8fdfb;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #91b3b880;
  color: #89b1b8;
  text-decoration: none;
}

.btn-link {
  color: #38646b;
  text-decoration: none;
}

.footer {
  background-color: #AADCE440;
  font-family: 'Montserrat', sans-serif;
  height: 215px;
  line-height: 2rem;
  padding: 15px;
  margin-top: 7rem;
}

.footer-link {
  font-size: 1.2rem;
  text-decoration: none;
}

.copywrite {
  color: #89b1b8;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
}

.social {
  height: 70px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1920px;
    margin: auto;
    width: 75%;
  }
}