* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #38646b;
  text-align: center;
  font-size: 1.75rem;
}

button {
  background-color: #38646b;
  color: aliceblue;
  border: 1px solid whitesmoke;
  padding: 5px;
  font-size: 1.25rem;
}

hr {
  border: 3px solid #38646b;
  margin: 20px auto;
  width: 80%;
}

input {
  font-size: 1.25rem;
  margin-left: 5px;
  width: 70%;
}

li {
  border-bottom: 1px solid #38646b;
  margin: auto;
  padding-bottom: 7px;
  text-align: left;
  width: 80%;
}

ul {
  font-size: 1.5rem;
  list-style-type: none;
}

.btn {
  padding: 6px;
}

.form {
  border: 1px solid #38646b;
  margin: auto;
  text-align: left;
  width: 80%;
}

.header {
  margin-top: 20px;
}

.title {
  background-color: White;
  color: #38646b;
  margin-bottom: 15px;
}

.todo {
  padding: 5px;
}